<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/iconopan"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/iconopan"
        android:supportsRtl="true"
        android:theme="@style/Theme.Myrecetario"
        tools:targetApi="31">
        <activity
            android:name=".Provicional"
            android:exported="false" />
        <activity
            android:name=".CreationRecetaOriginal"
            android:exported="false" />
        <activity
            android:name=".CreationRecetaRollo"
            android:exported="false" />
        <activity
            android:name=".CreationRecetaGalletas"
            android:exported="false" />
        <activity
            android:name=".CreationRecetaPasteles"
            android:exported="false" />
        <activity
            android:name=".ui.login.CreationRecetaPasteles"
            android:exported="false"
            android:label="@string/title_activity_creation_receta_pasteles" />
        <activity
            android:name=".CreationRecetaBatidos"
            android:exported="false" />
        <activity
            android:name=".CreaTuMasa"
            android:exported="false" />
        <activity
            android:name=".CreationReceta"
            android:exported="false" />
        <activity
            android:name=".ui.login.CreateReceta"
            android:exported="false"
            android:label="@string/title_activity_create_receta" />
        <activity
            android:name=".WelcomeSession"
            android:exported="false" />
        <activity
            android:name=".CreationUser"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>